server:
  port: 8080

spring:
  config:
    activate:
      on-profile: dev
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/paypeek}

minio:
  url: ${MINIO_URL:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin}

jwt:
  secret: ${JWT_SECRET:dev-secret-change-me}
