server:
  port: 8080

spring:
  config:
    activate:
      on-profile: prod
  data:
    mongodb:
      uri: ${MONGODB_URI}

minio:
  url: ${MINIO_URL}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}

jwt:
  secret: ${JWT_SECRET}

tesseract:
  datapath: ${TESSERACT_DATAPATH}
